target
*.class
*.iml
*.ipr
.idea
.classpath
.settings
.project
.DS_Store
.gradle
build
/Csharp/.vs/RefactoringGolf/v15/
/Csharp/RefactoringGolf/obj/
/Csharp/RefactoringGolf/bin/
/Csharp/RefactoringGolf/*.csproj.user
